# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

nodes_modules
# Optional npm cache directory
.npm

# System Files
.DS_Store
Thumbs.db